body {
    font-family: sans-serif;
    background-color: orange;
    padding: 20px;
    text-align: center;
    border: 20px solid Black;
}

#feed {
    margin-top: 30px;
}

h1 {
    border: 10px solid Black;


}
